@media screen and (max-width:1024px){
    .nav-bar {
        width: 90%;
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .search {
        width: 20%;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    .bit_container .s_container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .con-bor {
        width: 100%;
        height: 110px;
        background-color: black;
    }
    .In_out_con .In_out {
        width: 72%;
        height: 100%;
        margin: 0 auto;
        background-color: blanchedalmond;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
    }
    .Gallary .ga_in {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        gap: 25rem;
    }
    .ga_right {
        width: 70%;
        height: 100%;
        display: flex;
    }
    .last {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .com_la .la_in {
        width: 60%;
        height: 100%;
        background-color: white;
        margin: 0 auto;
    }
    .Albums_container .Three_al {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 35px;
        margin: 0 auto;
    }
    .con_35 .con_in {
        width: 90%;
        height: 40px;
        margin: 0 auto;
    }
    .Video_Album_con .Video_Album {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        row-gap: 10px;
        column-gap: 35px;
    
}
.Last_manu {
    width: 90%;
    height: 170px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
}
@media screen and (max-width:768px){
    .bit_container{
        display: none;
      }
      .cus{
        display: none!important;
      }
      .search{
        display: none!important;
      }
    .pic{
      justify-content: center!important;
      display: flex;
    }
    .Nav_con{
      display: block;
    }
    .Acc_con {
      display: block;
    }
    .nav-bar-con {
      width: 100%;
      height: 120px;
      background-color: #000;
      align-items: center;
      display: flex;
    }
    .d-pic img {
      width: 75%;
      height: 75%;
      object-fit: contain;
      padding-top: 10px;
    }
    .Cus_new_con{
    display: block;
    }
    .shadow_container .box_shadow {
      display: grid;
      grid-template-columns: repeat(2, 1fr)!important;
      margin: 0 auto;
      gap: 20px;
      width: 90%;
      height: auto;
    }
    .nav-bar-con{
    width: 100%;
    height: 120px;
    background-color: #000;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    }
    .com {
      width: 100%;
      height: 10px;
      background-color: black;
      position: sticky;
      top: 120px;
      z-index: 999;
    }
    .Cus_new_con{
    position: sticky;
    top: 120px;
    z-index: 999;
    background-color: black
    }
    .Last_manu .Manu_ri {
        width: 280px;
        background-color: black;
        margin-top: 30px;
        margin-left: 20px;
      }
      .last{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      }
      .last .txm {
        width: 25%;
        height: 25px;
      }
      .Last_manu .Manu_le {
        width: 450px;
        margin-top: 30px
    }
    .Albums_container .Three_al {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 35px;
        margin: 0 auto;
    }
    .Video_Album_con .Video_Album {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        row-gap: 10px;
        column-gap: 35px;
    }
}
@media screen and (max-width:429px){
  .Picture_con .Picture {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 17px;
    column-gap: 17px;
    margin: 0 auto;
}
.Last_manu {
  width: 90%;
  height: auto;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Last_manu .Manu_ri {
  width: 100%;
  background-color: black;
  margin-left: 0;
  margin-top: 0;
}
.Last_manu .Manu_ri {
  width: 100%;
  background-color: black;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 70px;
}

.Manu_ri .Map, .Phone, .Mail p {
  color: white;
}
.Manu_ri .Map, .Phone, .Mail {
  width: 100%;
  height: 60%;
  display: flex;
  gap: 10px;
}
.last_con {
width: 100%;
height: auto;
background-color: black;
padding-top: 30px;
}
.last {
width: 100%;
height: auto;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
gap: 19px;
padding-bottom: 20px;
}
.last .txl, .txr {
width: 70%;
height: 25px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif, "Hanuman", serif;
color: white;
font-size: 16px;
}
.line {
width: 100%;
height: 1px;
background-color: #e6ab19;
}
.Border-wraper .Border {
  border-bottom: 3px solid goldenrod;
  width: 90px;
  margin-top: 15px;
  border-width: 1px;
}
.Border-wraper h3 {
  margin-left: 15px;
  margin-right: 15px;
  color: goldenrod;
  font-size: 18px;
  line-height: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.Emty_con .Emty_pic {
  width: 90%;
  height: 100%;
  background-color: black;
  margin: 0 auto;
}
.Emty_data_con .Emty_data {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_data_con .no_data {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_data p {
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.Emty_data p {
  color: white;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  font-size: 25px;
}
.Albums_container .Three_al {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 10px;
  column-gap: 35px;
  margin: 0 auto;
}
.txm .class_i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.menu-header .right-logo {
  width: 15%;
}
.nav-bar .pic {
  width: 20%;
  height: 100%;
}
}
