@media screen and (max-width:1024px){
    .nav-bar {
        width: 90%;
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .search {
        width: 20%;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    .bit_container .s_container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .con-bor {
        width: 100%;
        height: 110px;
        background-color: black;
    }
    .In_out_con .In_out {
        width: 72%;
        height: 100%;
        margin: 0 auto;
        background-color: blanchedalmond;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
    }
    .Gallary .ga_in {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        gap: 25rem;
    }
    .ga_right {
        width: 70%;
        height: 100%;
        display: flex;
    }
    .last {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .com_la .la_in {
        width: 60%;
        height: 100%;
        background-color: white;
        margin: 0 auto;
    }
    .sign_up_con{
      height: 540px;
      background-color: black;
      display: flex;
      justify-content: center;
    }
    .sign_up_con .sign_up {
        width: 75%;
        height: 100%;
        background-color: brown;
        display: flex;
        overflow: hidden;
        border-radius: 30px;
    }
    .Last_manu {
        width: 90%;
        height: 170px;
        background-color: black;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:917px){
  .sign_up_con .sign_up {
    width: 75%;
    height: 100%;
    background-color: brown;
    display: flex;
    overflow: hidden;
    border-radius: 30px;
}
}
@media screen and (max-width:840px){
  .menu-responsive{
    width: 80%;
    height: 100%;
    display: unset;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #1c1b1b;
    z-index: 999999999999;
    color:white;
    transition: 0.3s ease-in-out;
    overflow-y: auto;
  }
  .menu-responsive .menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .menu-header .right-logo{
    width: 10%;
  }
  .menu-header .right-logo img{
    height: 80px;
    width: 100%;
    height: auto;
  }
  .menu-header .close-manu{
    position: absolute;
    top: 8px;
    right: 12px;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .close-manu i{
    font-size: 25px;
    font-weight: 900;
  }
  .menu-responsive .search-content{
    width: 100%;
  }
  .search-content form{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid white;
  }
  .menu-responsive .search-content form input {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
    background: none;
    color: #fff;
    padding-left: 1rem;
  }
  .menu-responsive .search-content form button {
    text-transform: unset;
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: unset;
  }
  .btn i{
    font-size: 20px;
  }
  .menu-responsive .menu-content{
    padding: 8px 15px;
    color: #231f20;
  }
  .pd-4{
    padding-bottom: 1rem;
  }
  .gap-2{
    gap: 0.5rem;
  }
  .grid-flow-row{
    grid-auto-flow: row;
  }
  .grid{
    display: grid;
  }
  .manu-item{
    border-bottom: 1px solid rgba(240, 241, 243, 0.2117647059);
    padding: 10px 0;
    border-bottom-style: dashed;
    color: #fff;
  }
  
  .menu-content .manu-item.active a{
    color: goldenrod!important;
  }
  .manu-item{
    font-size: 18px!important;
  }
  .manu-item a{
    color: inherit;
    text-decoration: none;
  }
  
  
  .menu-responsive-cover {
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      z-index: 999;
      background: rgba(0, 0, 0, 0.44) !important;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
  }
  .Nav_con{
    display: none;
  }
  .Nav_con .Nav_bar_icon{
    display: flex;
    margin-top: 50px;
  }
  .Nav_con .Nav_bar_icon i{
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
  }
  
  .Nav_con .Nav_bar_icon button{
    background-color: black   ;
    border: none;
  }
  .Acc_con .Acc_icon{
    display: flex;
    margin-top:50px;
    /* display: none; */
  }
  .Acc_con .Acc_icon i{
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
  }
  .Acc_con{
    display: none;
  }
  .Acc_con .Acc_icon button{
    background-color: black   ;
    border: none;
  }
  .Cus_new_con{
    width: 100%;
    height: 25px;
    background-color: black;
    display: none;
  }
  .Cus_new_con .Cus_new{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .Cus_new i{
    color: goldenrod;
  }
  .Cus_new p{
    color: white;
  }
    .bit_container{
        display: none;
      }
      .cus{
        display: none!important;
      }
      .search{
        display: none!important;
      }
    .pic{
      justify-content: center!important;
      display: flex;
    }
    .Nav_con{
      display: block;
    }
    .Acc_con {
      display: block;
    }
    .nav-bar-con {
      width: 100%;
      height: 120px;
      background-color: #000;
      align-items: center;
      display: flex;
    }
    .d-pic img {
      width: 75%;
      height: 75%;
      object-fit: contain;
      padding-top: 10px;
    }
    .Cus_new_con{
    display: block;
    }
    .shadow_container .box_shadow {
      display: grid;
      grid-template-columns: repeat(2, 1fr)!important;
      margin: 0 auto;
      gap: 20px;
      width: 90%;
      height: auto;
    }
    .nav-bar-con{
    width: 100%;
    height: 120px;
    background-color: #000;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    }
    .com {
      width: 100%;
      height: 10px;
      background-color: black;
      position: sticky;
      top: 120px;
      z-index: 999;
    }
    .Cus_new_con{
    position: sticky;
    top: 120px;
    z-index: 999;
    background-color: black
    }  
    .Last_manu .Manu_le {
      width: 450px;
      margin-top: 30px;
  }
  .Last_manu .Manu_ri {
    width: 280px;
    background-color: black;
    margin-top: 30px;
    margin-left: 20px;
}
.last .txm {
  width: 25%;
  height: 25px;
}
.sign_up_con .sign_up {
  width: 90%;
  height: 100%;
  background-color: brown;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  border-radius: 30px;
}
}





@media screen and (max-width:768px){
    .bit_container{
        display: none;
      }
      .cus{
        display: none!important;
      }
      .search{
        display: none!important;
      }
    .pic{
      justify-content: center!important;
      display: flex;
    }
    .Nav_con{
      display: block;
    }
    .Acc_con {
      display: block;
    }
    .nav-bar-con {
      width: 100%;
      height: 120px;
      background-color: #000;
      align-items: center;
      display: flex;
    }
    .d-pic img {
      width: 75%;
      height: 75%;
      object-fit: contain;
      padding-top: 10px;
    }
    .Cus_new_con{
    display: block;
    }
    .shadow_container .box_shadow {
      display: grid;
      grid-template-columns: repeat(2, 1fr)!important;
      margin: 0 auto;
      gap: 20px;
      width: 90%;
      height: auto;
    }
    .nav-bar-con{
    width: 100%;
    height: 120px;
    background-color: #000;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    }
    .com {
      width: 100%;
      height: 10px;
      background-color: black;
      position: sticky;
      top: 120px;
      z-index: 999;
    }
    .Cus_new_con{
    position: sticky;
    top: 120px;
    z-index: 999;
    background-color: black
    }
    .Last_manu .Manu_ri {
        width: 280px;
        background-color: black;
        margin-top: 30px;
        margin-left: 20px;
      }
      .last{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      }
      .last .txm {
        width: 25%;
        height: 25px;
      }
      .Last_manu .Manu_le {
        width: 450px;
        margin-top: 30px
    }
    .left_pic .Welcom {
        display: none;
    }
    .sign_up .left_pic {
        width: 50%;
        height: 100%;
        background-color: blue;
        display: flex;
        position: relative;
        display: none;
    }
    .sign_up_con .sign_up {
        width: 50%!important;
        height: 100%;
        background-color: brown;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
        border-radius: 30px;
    }
    .nav-bar .pic {
      width: 10%;
      height: 90%;
  }
    
.sign_up .signup_right {
    width: 100%;
    height: 100%;
    background-color: white;
}
.txm .class_i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.nav-bar .pic {
  width: 10%;
  height: 90%;
}
.menu-header .right-logo {
  width: 15%;
}
}
@media screen and (max-width:429px){
  .Last_manu {
      width: 90%;
      height: auto;
      background-color: black;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .sign_up_con .sign_up {
      width: 90%!important;
      height: 100%;
      background-color: brown;
      margin: 0 auto;
      display: flex;
      overflow: hidden;
      border-radius: 30px;
  }
    .Last_manu .Manu_ri {
      width: 100%;
      background-color: black;
      margin-left: 0;
      margin-top: 0;
    }
    .Last_manu .Manu_ri {
      width: 100%;
      background-color: black;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 70px;
    }
    
    .Manu_ri .Map, .Phone, .Mail p {
      color: white;
    }
    .Manu_ri .Map, .Phone, .Mail {
      width: 100%;
      height: 60%;
      display: flex;
      gap: 10px;
    }
    .last_con {
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 30px;
    }
    .last {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 19px;
    padding-bottom: 20px;
    }
    .last .txl, .txr {
    width: 70%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    color: white;
    font-size: 16px;
    }
    .line {
    width: 100%;
    height: 1px;
    background-color: #e6ab19;
    }
    ul a {
    color: black;
    text-decoration: none;
    }
    
    
    .buttom-wraper .buttom-wraper-list {
      width: 320.5px;
      margin: auto;
      overflow: hidden;
      position: relative;
    
    }
    .buttom-wraper .buttom-wraper-list .buttom-wraper-manu {
    margin: 16px auto auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    
    }
    .buttom-wr-con {
    width: 100%;
    margin: 0;
    /* height: auto; */
    }
    .buttom-wraper .buttom-wraper-list {
    width: 330px;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: auto;
    }
    
    .menu-responsive {
    width: 100%;
    height: 100%;
    display: unset;
    position: fixed;
    top: 0px;
    left: -100%;
    background-color: rgb(28, 27, 27);
    z-index: 2147483647;
    color: white;
    transition: all 0.3s ease-in-out 0s;
    overflow-y: auto;
    }
    .In_out_con .In_out {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      background-color: blanchedalmond;
      border-radius: 30px;
      display: flex;
      overflow: hidden;
  }
  .Border-wraper h3 {
      margin-left: 15px;
      margin-right: 15px;
      color: goldenrod;
      font-size: 18px;
      line-height: 2rem;
      text-align: center;
      font-family: "Roboto", sans-serif, "Hanuman", serif;
  }
  .Border-wraper .Border {
      border-bottom: 1px solid white;
      width: 90px;
      margin-top: 15px;
      border-width: 1px;
  }
  .txm .class_i {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.nav-bar .pic {
  width: 20%;
  height: 100%;
}
.menu-header .right-logo {
width: 15%;
}
.pic .d-pic img {
  width: 75%;
  height: 78%;
  object-fit: cover;
  padding-top: 10px;
}
.sign_up_con .sign_up {
  width: 90%;
  height: 100%;
  background-color: brown;
  display: flex;
  overflow: hidden;
  border-radius: 30px;
}
}