/* Default styles for larger screens */
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400&display=swap');
body {
    font-size: 16px;
}

/* Media query for screens up to 600px wide */
@media(max-width: 1199.98px){

    .s_and_s input{
        font-size: 14px;
        width: 90%;
    }
    .s_and_s a{
        font-size: 14px;
    }
    .s_and_s{
    }
    .right_follow .right_follow_right p{
        font-size: 13px;
    }
    .right_follow .right_follow_right .My_icon {
        gap:10px; 
        width: 50%;
    }
    .slideshow-container{
        height: 440px;
    }
    .icon_in i{
        font-size: 70px;
    }
    .Middle_middle p{
        font-size: 19.3px;
        
    }
    
    
}

