/* Default styles for larger screens */
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400&display=swap');
body {
    font-size: 16px;
}

/* Media query for screens up to 600px wide */
@media(min-width:1024px){
}
@media(max-width:1440px){
    .ga_in .ga_left{
        width: 80%!important;
    }
    .ga_left .Course_ ,.Your_acc{
        width: 70%;
    }
    .Yellow_up2{
        width:70px;
    }
    .Galla {
        width: 70%;
    }
}
@media(min-width:1440px){
    .ga_in .ga_left{
        width: 80%!important;
    }
    .ga_left .Course_ ,.Your_acc{
        width: 70%;
    }
    .Yellow_up2{
        width:70px;
    }
    .Galla {
        width: 70%;
    }
}
@media(max-width:1024px){
    .ga_in .ga_left{
        width: 100%!important;
    }
    .ga_left .Course_ ,.Your_acc{
        width: 90%;
    }
}
@media(min-width:1142px){
    .ga_in .ga_left{
        width: 80%!important;
    }
    .ga_left .Course_ ,.Your_acc{
        width: 70%;
    }
    .Yellow_up2{
        width:70px;
    }
    .Galla {
        width: 70%;
    }
}


​
