@media screen and (max-width:1024px){
    .nav-bar {
        width: 90%;
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .nav-bar .cus, .search {
        width: 20%;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    .bit_container .s_container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .Over_view_left .view_text{
        width: 100%;
        height: auto;
        background-color: #2b2424;
        display: flex;
        justify-content: center;
        align-items: center;
    
      }
    .Over_view_con .Over_view {
        width: 90%;
        height: 100%;
        background-color: #2b2424;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .loca_co .loco_text {
        width: 90%;
        height: 100%;
        background-color: black;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        align-items: end;
    }
    .tell_con .tell_and_text {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
    }
    .Map_and_text_container{
        width: 100%;
        height: auto;
        display: flex;
        background-color: black;
      
      }
    .Map_and_text_container .Map_and_txt {
        width: 90%;
        height: auto;
        background-color: black;
        margin: 0 auto;
        display: flex;
        gap: 70px;
        flex-direction: column;
    }
    .Over_view .Over_view_left {
        width: 100%;
        height: 100%;
        background-color: #2b2424;
    }
    
.Over_view .Over_view_pic {
    width: 40%;
    height: 240px;
    background-color: #2b2424;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: unset;
}
.M_and_V_con .M_and_V {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.Map_and_txt .Map_left {
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    margin: 0 auto;
}
.txt_right {
    width: 46.67%;
    margin: 0 auto;
}
.Pic6_con .Pic6{
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: black;
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:25px ;
  
  }
  .txt_left p{
    font-size: 16px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
  }
  .txt_right_right p{
    font-size: 16px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
  }
  .text_rightt h2 {
    color: white;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    font-size: 1.1rem;

}
.Gallary .ga_in {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 25rem;
}
.ga_right {
    width: 75%;
    height: 100%;
    display: flex;
}
.Last_manu {
    width: 90%;
    height: 170px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
}
@media screen and (max-width:768px){
    .bit_container {
      display: none;
    }
    .cus{
      display: none!important;
    }
    .search{
      display: none!important;
    }
  .pic{
    justify-content: center!important;
    display: flex;
  }
  .Nav_con{
    display: block;
  }
  .Acc_con {
    display: block;
  }
  .nav-bar-con {
    width: 100%;
    height: 120px;
    background-color: #000;
    align-items: center;
    display: flex;
  }
  .d-pic img {
    width: 75%;
    height: 75%;
    object-fit: contain;
    padding-top: 10px;
  }
  .Cus_new_con{
  display: block;
  }
  .shadow_container .box_shadow {
    display: grid;
    grid-template-columns: repeat(2, 1fr)!important;
    margin: 0 auto;
    gap: 20px;
    width: 90%;
    height: auto;
  }
  .nav-bar-con{
  width: 100%;
  height: 120px;
  background-color: #000;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  }
  .com {
    width: 100%;
    height: 10px;
    background-color: black;
    position: sticky;
    top: 120px;
    z-index: 999;
  }
  .Cus_new_con{
  position: sticky;
  top: 120px;
  z-index: 999;
  background-color: black
  }
  .Last_pic {
    width: 100%;
    height: 350px;
    background-color: #EAB308;
}
.Over_view .Over_view_pic {
    width: 60%;
    height: 280px
}
.view_pic .img img {
    width: 100%;
    height: 100%;
    border: 6px solid goldenrod;
    object-fit: cover;
}
.Last_manu .Manu_le {
    width: 450px;
    margin-top: 30px;
}
.Last_manu .Manu_ri {
    width: 280px;
    background-color: black;
    margin-top: 30px;
    margin-left: 20px;
}
.last .txm {
    width: 25%;
    height: 25px;
}
.last .txl, .txr {
    width: 35%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    color: white;
    font-size: 16px;
}
.last {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.com_la .la_in {
    width: 60%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
}
.M_and_V_con .M_and_V {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.M_and_V .Misson, .Visson {
  width: 100%;
  height: 100%;
  border: none;
}
.Pic6_con {
  width: 100%;
  background-color: black;
  height: auto;
  padding-top: 40px;
}
.M_and_V .con_M_and_V{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: unset;
}
}
@media screen and (max-width:429px){
  .Over_view_con .Over_view {
    width: 100%;
    height: 100%;
    background-color: #2b2424;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.Last_pic {
  width: 100%;
  height: 310px;
  background-color: black;
  padding-bottom: 10px;
}
.Pic6_con .Pic6 {
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  row-gap: 20px;
}
.Last_manu {
  width: 90%;
  height: auto;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Last_manu .Manu_ri {
  width: 100%;
  background-color: black;
  margin-left: 0;
  margin-top: 0;
}
.Last_manu .Manu_ri {
  width: 100%;
  background-color: black;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 70px;
}

.Manu_ri .Map, .Phone, .Mail p {
  color: white;
}
.Manu_ri .Map, .Phone, .Mail {
  width: 100%;
  height: 60%;
  display: flex;
  gap: 10px;
}
.last_con {
width: 100%;
height: auto;
background-color: black;
padding-top: 30px;
}
.last {
width: 100%;
height: auto;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
gap: 19px;
padding-bottom: 20px;
}
.last .txl, .txr {
width: 70%;
height: 25px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif, "Hanuman", serif;
color: white;
font-size: 16px;
}
.line {
width: 100%;
height: 1px;
background-color: #e6ab19;
}
.In_right .In_right_up {
  width: 100%;
  height: 18%;
  background-color: black;
  display: flex;
  justify-content: center;
}
.menu-responsive {
  width: 100%;
  height: 100%;
  display: unset;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #1c1b1b;
  z-index: 999999999999;
  color: white;
  transition: 0.3s ease-in-out;
  overflow-y: auto;
}
.Over_view .Over_view_pic {
  width: 100%;
  height: 280px;
}
.loca_co {
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  padding-top: 20px;
}
.Map_and_txt .Map_left {
  width: 100%;
  height: 370px;
  background-color: black;
  display: flex;
  margin: 0 auto;
}
.txt_right {
  width: 90%;
  margin: 0 auto;
}
.loco_text i {
  color: goldenrod;
  font-size: 16px;
  padding-bottom: 20px;
}
.M_and_V .Misson, .Visson {
  width: 100%;
  height: 100%;
}
.Misson {
  border:none;
}
.Visson {
  border:none;
}
.M_and_V_con {
  width: 100%;
  height: unset;
  background-color: black;
  display: flex;
}
.Border-wraper2 h3 {
  margin-left: 15px;
  margin-right: 15px;
  color: goldenrod;
  font-size: 20px;
  line-height: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.Border-wraper2 .Border2 {
  border-bottom: 3px solid white;
  width: 90px;
  margin-top: 15px;
  border-width: 1px;
}
.M_down .Text_vission {
  color: white;
  font-size: 15px;
  padding-left: unset;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  text-align: center;
}
.Text_mission {
  padding-right: unset;
}
.M_down .Text_mission .Text1, .Text2, .Text3 p {
  color: white;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  font-size: 16px;
}
.mm {
  width: 100%;
  height: 30px;
  background-color: black;
}
.Border-wraper h3 {
  margin-left: 15px;
  margin-right: 15px;
  color: goldenrod;
  font-size: 20px;
  line-height: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.Border-wraper .Border {
  border-bottom: 3px solid white;
  width: 90px;
  margin-top: 15px;
  border-width: 1px;
}
.bb {
  width: 100%;
  height: 20px;
  display: none;
}
.txm .class_i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.loco_text p {
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.tell_left p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}
.nav-bar .pic {
  width: 20%;
  height: 100%;
}
.menu-header .right-logo {
  width: 15%;
}
}