@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
  }
  .nav-bar-con{
    width: 100%;
    height: 160px;
    background-color: #000;
    align-items: center;
    display: flex;
  }
  .ss a{
   color: goldenrod; 
  }
  .nav-bar{
    width: 70%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .nav-bar .cus,.search{
    width: 17%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
  }
  .nav-bar .pic{
    width: 10%;
    height: 100%;
  }
  .pic .d-pic{
    width: 100%;
    height: 100%;
  }
  .d-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 10px;
  }
  .cus .colum{
    width: 100%;
    height: 55px;
  }
  .colum .cust,.tell{
    width: 100%;
    height: 50%;
  }
  .cust .cust-p{
    width: 100%;
    height: 100%;
  }
  .tell .tell-p{
    width: 100%;
    height: 100%;
  }
  .tell{
    align-items: end;
    display: flex;
  }
  .colum p{
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    color: white;
    font-size: 17px;
  }
  .search .ser-con{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
  }
  .ser-con .ser-here,.follow{
    width: 100%;
    height: 50%;
  }
  .ser-here{
    display: flex;
    justify-content:space-between;
  }
  .ser-here .input{
    width: 90%;
    height: 100%;
    background-color: brown;
  }
  .ser-here .icon-ser{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .input input {
    border-style: none none solid;
      background-color: #000 !important;
      padding: 5px 0;
      transition: 0.3s;
      font-size: 14px;
      width: 100%;
      box-shadow: none;
      outline: none;
      color: white;
      font-family: "Roboto", sans-serif, "Hanuman", serif;
  }
  .icon-ser i{
    font-size: 17px;
    color: white;
  }
  .follow {
    border-top: 1px solid white;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .follow span{
    color: white;
    font-size: 17px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
  
  }
  .follow i{
    color: white;
    font-size: 16px;
  }
  .bit_container{
    width: 100%;
    height: 50px;
    background-color:black;
    position: sticky;
    top:0;
    z-index: 999;
  
  }
  .bit_container .s_container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .s_container .s_boxleft{
    width: 70%;
    height: 40px;
    background-color:black;
  }
  .s_container .s_boxright{
    width: 30%;
    height: 20px;
    background-color: black;
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  .manu .cu a{
    color: #EAB308;
  }
  .s_boxleft ul{
    display: flex;
    gap: 15px;
    list-style-type:none;
    font-size: 14px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    margin-top: 12px;
  
  }
  .s_boxleft li{
  }
  ul a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: yellow;
  }
  .manu2 a{
    color: darkcyan;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    font-size: 14px;
  }
  .icon22 i{
    color: white;
    font-size: 15px;
  }
.com{
  width: 100%;
  height: 10px;
  background-color: black;
}
.Full_pic{
  width: 100%;
  height: 640px;
  background-color:black;
}
.box_pic{
  width: 100%;
  height:640px ;
  background-color: black;
}
.Big_Image img{
  width: 100%;
  height: 640px;
}
.manu .sa a{
  color: #EAB308;
}
.con-bor{
  width: 100%;
  height: 90px;
  background-color: black;
}
.con-bor .Border-wraper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bolder;
  justify-content: center;
}
.Border-wraper h3{
margin-left: 15px;
margin-right: 15px;
color: goldenrod;
font-size: 2rem;
line-height: 2rem;
text-align: center;
font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.Border-wraper .Border{
border-bottom: 3px solid goldenrod;
width: 150px;
margin-top: 15px;
border-width: 1px;
}
  .Map_Container{
    width:100%;
    height: 500px;
    background-color: black;
    display: flex;
  }
  .Map_Container .For_Map{
    width: 70%;
    height: 100%;
    background-color: black;
    margin: 0 auto;
  }
  .For_Map  iframe{
    width: 100%;
    height: 100%;
  }
  .ad{
    width: 100%;
    height: 70px;
    background-color: black;
  }
  .con_cir{
    width: 100%;
    height: auto;
    background-color: black;
  }
  .Circle_partner{
    width: 100%;
    height: 240px;
    background-color: black;
  }
  .Circle_partner .Circle{
    width: 70%;
    height: 100%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Circle .In{
    width: 90%;
    height: 90%;
    background-color: black;
    display: flex;
    
  }
  .In .In_left{
    width: 170px;
    height: 160px;
    border: 2px solid white;
    z-index: 10;
    display: flex;
    
  }
  .In_left{
    border-radius: 50%
  }
  .In_left .small_bor{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 135px;
    border-radius: 50%;
  }
  .small_bor img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: brightness(1) invert(1);
  }
  .In_left .new_bor{
    width: 40px;
    height: 40px;
    background-color: #EFBB19;
    position: absolute;
    margin-left:110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new_bor p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .circle_pic{
    width: 200px;
    height: 160px;
    background-color: tan;
    border-radius: 50%;
    margin-left: 20px;
  }
  .circle_pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 11;
  }
  .In .In_right{
    width: 77%;
    height: 100%;
    background-color: black;
  }
  .In .In_mid{
    width: 2%;
    height: 100%;
  }
  .In_right .In_right_up{
    width: 100%;
    height: 18%;
    background-color: black;
}
.In_right_up p{
    color: #EFBB19;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.In_right .In_right_down{
    width: 100%;
    height: 82%;
    background-color: gray;
    display: flex;
}
.In_right_down .Left_tx{
    width: 15%;
    height: 100%;
    background-color: violet;
}
.Left_tx .tel,.Facebook,.Address,.Google_map{
    width: 100%;
    height: 25%;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.In_right_down .Right_tx{
    width: 85%;
    height: 100%;
    background-color:rebeccapurple;
}
.Right_tx .One,.Two,.Three,.Four{
    width: 100%;
    height: 25%;
    background-color: black;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: white;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    
}
.Three {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.Three p{
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  align-items: center;
  display: flex;
}
.Line_yellow{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
}
.Line_yellow .L_in{
  width: 50%;
  margin: 0 auto;
  border-top: 1px solid goldenrod;
}
.Add_50{
  width: 100%;
  height: 70px;
  background-color: black;
}
.In p:hover{
  color: goldenrod;
}
.Four a{
  color: white;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.Four a:hover{
  color: goldenrod;
}
.Three P{
  font-size: 18px;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.Add_50_2{
  width: 100%;
  height: 50px;
  display: flex;
  background-color: black;
  border-bottom: 2px solid black;
}
.Add_50_2 .In_2{
  width: 50%;
  height: 100%;
  background-color: black;
  margin: 0 auto;
  border-bottom: 2px solid goldenrod;
}
.two_btn_container{
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
}
.two_btn_container .Main_btn{
  width: 40%;
  height:40%;
  background-color: black;
  margin: 0 auto;
  display: flex;
}
.Main_btn .Three_blo{
  width: 30%;
  height: 100%;
  background-color: black;
  margin: 0 auto;
  display: flex;
}
.Three_blo .btn_left,.btn_right{
  width: 85%;
  height: 100%;
  background-color: black;
}
.Three_blo .btn_mid{
  width: 15%;
  height: 100%;
}
.btn_left button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #99A1A9;
}
.btn_left a{
  text-decoration: none;
}
.btn_right button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #EFBB19;
}
.btn_right a{
  text-decoration: none;
}
.LINE{
  width: 100%;
  height: 10px;
  background-color: black;
}
.line{
  width: 100%;
  height: 3px;
  background-color: #E6AB19;
}
.complete2{
  width: 100%;
  height: 50px;
  background-color: black;
}.Gallary{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
}
.Gallary p:hover{
  color: goldenrod;
}
.Gallary .ga_in{
  width: 70%;
  height: 100%;

  margin: 0 auto;
  display: flex;
  gap: 25rem;
}
.Gallary .ga_in .ga_left ,.ga_right{
  width: 50%;
  height: 100%;

  display: flex;
}
.ga_left .Course_,.Galla,.Your_acc{
  width: 33.33%;
  height: 100%;

}
.ga_left p{
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.ga_right p{
  padding-left: 10px;
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.icon2 i{
  font-size: 16px;
  color: yellowgreen;
}
.com_la{
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
}
.com_la .la_in{
  width: 50%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.com_last2{
  width: 100%;
  height: 30px;
  background-color: black;
}
.last_con{
  width: 100%;
  height: 70px;
  background-color: black;
}
.last{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.last .txl,.txr{
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  color: white;
  font-size: 16px;
}
.last .txm{
  width: 15%;
  height: 25px;
}
.txm .class_i{
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
}
.class_i a{
  padding-top: 5px;
}
.class_i a i{
  color:white;
  font-size: 20px;
  background-color: transparent;
}
.Course_ a{
  text-decoration: none;
}
.Galla a{
  text-decoration: none;
}
.Your_acc a{
  text-decoration: none;
}
.icon_last a{
  color: white;
}
.slideshow-container {
  width: 100%;
  height: auto;
  background-color: #000;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add_slide{
  width: 100%;
  height: 100px;
  background-color: black;
}
::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-thumb{
  background-color: #E6AB19;
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  background-color: black;
  border-radius: 10px;
}

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}
.active{
  transform: translateY(0px);
  opacity: 1!important;
}

