@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
  }
  .nav-bar-con{
    width: 100%;
    height: 160px;
    background-color: #000;
    align-items: center;
    display: flex;
  }
  .nav-bar{
    width: 70%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .nav-bar .cus,.search{
    width: 17%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
  }
  .nav-bar .pic{
    width: 10%;
    height: 100%;
  }
  .pic .d-pic{
    width: 100%;
    height: 100%;
  }
  .d-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 10px;
  }
  .cus .colum{
    width: 100%;
    height: 55px;
  }
  .colum .cust,.tell{
    width: 100%;
    height: 50%;
  }
  .cust .cust-p{
    width: 100%;
    height: 100%;
  }
  .tell .tell-p{
    width: 100%;
    height: 100%;
  }
  .tell{
    align-items: end;
    display: flex;
  }
  .colum p{
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    color: white;
    font-size: 17px;
  }
  .search .ser-con{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
  }
  .ser-con .ser-here,.follow{
    width: 100%;
    height: 50%;
  }
  .ser-here{
    display: flex;
    justify-content:space-between;
  }
  .ser-here .input{
    width: 90%;
    height: 100%;
    background-color: brown;
  }
  .ser-here .icon-ser{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .input input {
    border-style: none none solid;
      background-color: #000 !important;
      padding: 5px 0;
      transition: 0.3s;
      font-size: 14px;
      width: 100%;
      box-shadow: none;
      outline: none;
      color: white;
      font-family: "Roboto", sans-serif, "Hanuman", serif;
  }
  .icon-ser i{
    font-size: 17px;
    color: white;
  }
  .follow {
    border-top: 1px solid white;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .follow span{
    color: white;
    font-size: 17px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
  
  }
  .follow i{
    color: white;
    font-size: 16px;
  }
  .bit_container{
    width: 100%;
    height: 50px;
    background-color:black;
    position: sticky;
    top:0;
    z-index: 999;
  
  }
  .bit_container .s_container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .s_container .s_boxleft{
    width: 70%;
    height: 40px;
    background-color:black;
  }
  .s_container .s_boxright{
    width: 30%;
    height: 20px;
    background-color: black;
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  .manu .cu a{
    color: #EAB308;
  }
  .s_boxleft ul{
    display: flex;
    gap: 15px;
    list-style-type:none;
    font-size: 14px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    margin-top: 12px;
  
  }
  .s_boxleft li{
  }
  ul a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: yellow;
  }
  .manu2 a{
    color: darkcyan;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    font-size: 14px;
  }
  .icon22 i{
    color: white;
    font-size: 15px;
  }
.com{
  width: 100%;
  height: 10px;
  background-color: black;
}
.Full_pic{
  width: 100%;
  height: 640px;
  background-color:black;
}
.box_pic{
  width: 100%;
  height:640px ;
  background-color: black;
}
.Big_Image img{
  width: 100%;
  height: 640px;
}
.con-bor{
  width: 100%;
  height: 90px;
  background-color: black;
}
.con-bor .Border-wraper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
}
.Border-wraper h3{
  margin-left: 15px;
  margin-right: 15px;
  color: goldenrod;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
 .Border-wraper .Border{
  border-bottom: 3px solid goldenrod;
  width: 150px;
  margin-top: 15px;
  border-width: 1px;
}
.A_lot{
  width: 100%;
  height: 370px;
  background-color:black;
  display: flex;
}
.A_lot .box_2{
  width: 70%;
  height: 100%;
  margin:0 auto;
  background-color:black;
  display: flex;
  gap: 20px;
}
.box_2 .box_left_2,.box_right_2{
  width: 50%;
  height: 100%;
  background-color:#211D1D;
  display: flex;
  overflow: hidden;
}
.box_left_2 .left_2_left , .right_2_right{
  width: 50%;
  height: 100%;
  background-color: #211D1D;
}
.left_2_left{
  display: flex;
  position: relative;
}
.left_2_left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .left_2_left .reje-con{
  width: 100%;
  height: 30px;
  position: absolute;
  top: 85%;
}
.reje-con .reje{
  width: 45%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reje button{
  font-weight: 700;
  border: 1px solid #fff;
    background-color: #ffc107;
    color: #fff;
    box-shadow: none;
    padding: 3px 6px;
    border-radius: 70px;
    font-size: 13px;

}
.reje button:hover{
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #d39e00;
}





.right_2_right .Yellow_up{
  width: 100%;
  height: 35px;
  display: flex;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;
}
.right_2_right .Yellow_up2 ,.Yellow_up3{
  width: 100%;
  height: 60px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;
}
.Yellow_up2,.Yellow_up3 p{
  font-size: 20px;
  color: #E6AB19;
  font-weight: 100px;
  font-family: 'Hanuman', serif;
  margin: 0 auto;
  padding-top: 5px
}
.Yellow_up p{
  font-size: 20px;
  color: #E6AB19;
  font-weight: 100px;
  font-family: 'Hanuman', serif;
  margin: 0 auto;
  padding-top: 5px
}
.right_2_right .White_latter{
  width: 100%;
  height: 170px;

}
.White_latter .latter_in{
  font-size: 15.9px;
  font-family: 'Hanuman', serif;
  color: white;
  text-align: justify;
  padding-top: 10px;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 10px 5px 10px 20px;
}
.right_2_right .date{
  width: 100%;
  height: 17px;
  margin-left: 20px;
  display: flex;
  gap: 10px;
  color: #E6AB19;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.right_2_right .date_end{
  width: 100%;
  height: 17px;
  margin-left: 20px;
  display: flex;
  gap: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.right_2_right .Number_con{
  width: 100%;
  height: 30px;
  display: flex;
}
.Number_con .Number{
  width: 10%;
  height: 100%;
  background: rgba(239, 187, 25, 0.1);
  margin: 0 auto;
  display: flex;
  border-radius: 7px;
}
.Number_con .Number2{
  width: 12%;
  height: 100%;
  background: rgba(239, 187, 25, 0.1);
  margin: 0 auto;
  display: flex;
  border-radius: 7px;
}
.Number P{
  font-size: 15px;
  margin: 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  text-align: center;
}
.Number2 P{
  font-size: 15px;
  padding-top: 5px;
  margin: 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.right_2_right .Trainer_btn{
  width: 100%;
  height: 30px;
  display: flex;
  padding-top: 7px;
}
.Trainer_btn .For_btn{
  width:33.33% ;
  height:100% ;
  margin: 0 auto;
}
.For_btn button{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: white;
  background-color: #7F8C8D;
  font-size: 15PX;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
.For_btn button:hover{
  background-color: #5f5c58;
}

.FOR_ADD{
  width: 100%;
  height: 20px;
  background-color: black;
}
.Free_Container{
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
}
.Free_Container .Free_in{
  width: 70%;
  height: 100%;

  margin:0 auto;
  display: flex;
}
.Free_in .in_3{
  width: 70%;
  height: 100%;
 
  margin: 0 auto;
  display: flex;
}
.in_3 .Free_left{
  width: 25%;
  height: 100%;

}
.in_3 .Free_mid{
  width: 50%;
  height: 100%;

}
.in_3 .Free_right{
  width: 25%;
  height: 100%;

}
.Free_left .Free_left_up{
  width: 100%;
  height: 50%;

  border-bottom: 3px solid white;
}
.Free_mid .Free_mid_up{
  width: 100%;
  height: 50%;

  display: flex;
}
.Free_mid .Free_mid_up p{
  margin: 0 auto;
  color: #EAB308;
  font-size: 31px;
  font-family: 'Hanuman', serif;
  padding-top: 19px;
}
.Free_right .Free_right_up{
  width: 100%;
  height: 50%;

  border-bottom: 3px solid white;
}
.BEFORE{
  width: 100%;
  height: 12px;
  background-color: black;
}
.Profile{
  width: 100%;
  height: 470px;
  display: flex;
  background-color: black;
}
.Profile .Profile_3_co{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  background-color: #211D1D;
  display: flex;
  gap: 20px;
}
.Profile_3_co .Profile_3_left, .Profile_3_mid, .Profile_3_right{
  width: 33.33%;
  height: 100%;
  background-color: #EAB308;
}
.Profile_3_left .P_up, .P_down{
  width: 100%;
  height: 44%;
  background-color: #7F8C8D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile_3_left .P_mid{
  width: 100%;
  height: 12%;
  background-color: #231F20;
  justify-content: center;
}
.P_mid .Ly_so{
  width: 50%;
  height: 100%;
  background-color: #231F20;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.line_ly_c{
  width: 100%;
  height: 2px;
  background-color: #231F20;
}
.line_ly_c .line_ly{
  width: 40%;
  height: 100%;
  background-color: goldenrod;
  margin: 0 auto;
}
.P_mid .Thet_piseth{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  background-color: #231F20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.P_mid .Pen_dara{
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #231F20;
  display: flex;
  color: white;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.Profile_3_mid .P_up, .P_down{
  width: 100%;
  height: 44%;
  background-color: #231F20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile_3_mid .P_mid{
  width: 100%;
  height:12%;
  background-color: #231F20;
  display: flex;
  justify-content: center;
}

.Profile_3_right .P_up, .P_down{
  width: 100%;
  height: 44%;
  background-color: #231F20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile_3_right .P_mid{
  width: 100%;
  height: 12%;
  background-color: #231F20;
  justify-content: center;
  display: flex;
}
.P_up img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.P_down .Down_text,.Down_text_2,.Down_text_3{
  width: 80%;
  height: 80%;
  background-color:#231F20 ;
  overflow: hidden;
}
.Down_text .Exp,.Skill,.Work{
  width: 100%;
  height: 25%;
  background-color: #231F20;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  font-size:18px;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.Down_text .Skill{
  margin: 20px 0;
}
.Skill .Hair{
  padding-left: 75px;
}
.Exp .Year{
  padding-left: 15px;
}
.Work .Tran{
  padding-left: 62px;
}
.white_button_container{
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
}
.white_button_container .button{
  width: 70%;
  height: 40px;
  /* background-color: white; */
  display: flex;
  margin: 0 auto;
  border: none;

}
.button .View_more{
  height: 40px;
  width: 118px;
  /* background-color: white; */
  margin: 0 auto;
  position:a;
  
}
.View_more .My_button{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color:#3D3D3D;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: none;
  border: 1px solid goldenrod;
}
.buttom-1:hover{
  color: black;
  background-color: white;

}
.View_more i{
  font-size: 12px;
  padding-left: 5px;
}
.LINE{
  width: 100%;
  height: 40px;
  background-color: black;
}
.line{
  width: 100%;
  height: 3px;
  background-color: #E6AB19;
}

.complete2{
  width: 100%;
  height: 50px;
  background-color: black;
}.Gallary{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
}
.Gallary .ga_in{
  width: 70%;
  height: 100%;

  margin: 0 auto;
  display: flex;
  gap: 25rem;
}
.Gallary .ga_in .ga_left ,.ga_right{
  width: 50%;
  height: 100%;

  display: flex;
}
.ga_left .Course_,.Galla,.Your_acc{
  width: 33.33%;
  height: 100%;

}
.ga_left p{
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.ga_right p{
  padding-left: 10px;
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.icon2 i{
  font-size: 16px;
  color: yellowgreen;
}
.com{
  width: 100%;
  height: 15px;
  background-color: black;
}
.com_la{
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
}
.com_la .la_in{
  width: 50%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.com_last2{
  width: 100%;
  height: 30px;
  background-color: black;
}
.last_con{
  width: 100%;
  height: 70px;
  background-color: black;
}
.last{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.last .txl,.txr{
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  color: white;
  font-size: 16px;
}
.last .txm{
  width: 15%;
  height: 25px;
}
.txm .class_i{
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
}
.class_i a{
  padding-top: 5px;
}
.class_i a i{
  color:white;
  font-size: 20px;
  background-color: transparent;
}

.Course_ a{
  text-decoration: none;
}
.Galla a{
  text-decoration: none;
}
.Your_acc a{
  text-decoration: none;
}
.icon_last a{
  color: white;
}.slideshow-container {
  width: 100%;
  height: auto;
  margin-bottom:-10px;
  
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* slide */
.add_slide{
  width: 100%;
  height: 100px;
  background-color: black;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #E6AB19;
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  background-color: black;
  border-radius: 10px;
}
.ga_right p:hover{
  color: #EAB308;
}