@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
  }
.B_Container{
 width: 100%;
 height: 150px;
 background-color: black; 
 display: flex;
}
.B_in{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.B_left ,.B_right{
  width: 45%;
  height: 100%;

}
.B_up, .B_down{
  width: 100%;
  height: 50%;

}
.B_mid{
  width: 10%;
  height: 100%;
  padding-top: 5px;
}
.B_left p{
  font-size: 20px;
  color: white;
}
.B_up p{
  display: flex;
  padding-top: 40px;
}
.B_up P{
  font-family: Arial, Helvetica, sans-serif;
}

.B_mid .For_logo{
  width: 100%;
  height: 100%;


}
.For_logo img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.Bright, .right_search{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.right_search .right_s_right{
  width: 40%;
  height: 100%;

  border-bottom: 2px solid white;
}
.s_and_s input{
  font-size:17px;
  border: none;
  background-color: black;
  color: white;
}
.s_and_s{
  padding-top: 50px;
}
.s_and_s i{
  color: white;
}
 .right_follow{
  width: 100%;
  height: 50%;
  display: flex;
}
.right_follow .right_f_left{
  width: 60%;
  height: 100%;
}
.right_follow .right_follow_right{
  width: 40%;
  height: 100%;
  display: flex;
  gap: 20px;
  padding-top: 5px;
}
.right_follow_right p{
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.right_follow_right .My_icon{
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.right_follow_right .My_icon a{
  color: white;
}
.bit_container{
    width: 100%;
    height: 40px;
    background-color:black;
  }
  .bit_container .s_container{
    width: 70%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    background-color: blue;
  }
  .s_container .s_boxleft{
    width: 70%;
    height: 40px;
    background-color:black;
  }
  .s_container .s_boxright{
    width: 30%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  .s_boxleft ul{
    display: flex;
    gap: 15px;
    list-style-type:none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  ul a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: yellow;
  }
  .manu2 a{
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
  }
  .icon22 i{
    color: white;
  }
  .com{
    width: 100%;
    height: 10px;
    background-color: black;
  }
  .manu .Tra a {
    color: #EAB308;
  }
  .Addd{
    width: 100%;
    height: 25px;
    background-color: black;
  }
  .Free_Container{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
  }
  .Free_Container .Free_in{
    width: 70%;
    height: 100%;
  
    margin:0 auto;
    display: flex;
  }
  .Free_in .in_3{
    width: 70%;
    height: 100%;
   
    margin: 0 auto;
    display: flex;
  }
  .in_3 .Free_left{
    width: 25%;
    height: 100%;
  
  }
  .in_3 .Free_mid{
    width: 50%;
    height: 100%;
  
  }
  .in_3 .Free_right{
    width: 25%;
    height: 100%;
  
  }
  .Free_left .Free_left_up{
    width: 100%;
    height: 50%;
  
    border-bottom: 3px solid goldenrod;
  }
  .Free_mid .Free_mid_up{
    width: 100%;
    height: 50%;
  
    display: flex;
  }
  .Free_mid .Free_mid_up p{
    margin: 0 auto;
    color: #EAB308;
    font-size: 31px;
    font-family: 'Hanuman', serif;
    padding-top: 19px;
  }
  .Free_right .Free_right_up{
    width: 100%;
    height: 50%;
  
    border-bottom: 3px solid goldenrod;
  }
  .Albums_container{
    width: 100%;
    height: 300px;
    /* background-color: black; */
    display: flex;
  }
  .Albums_container .Three_al{
    width: 70%;
    height: 100%;
    /* background-color: black; */
    margin: 0 auto;
    display: flex;
    gap: 30px;
  }
  .Three_al .al_left{
    width: 33.33%;
    height: 100%;
    background-color: thistle;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .Three_al .al_left .al_left_bor
  {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border: 2px solid goldenrod;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Three_al .al_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .al_left_bor .Product{
    width: 90%;
    height: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
  }
  .Product button{
    background-color: transparent;
    border: none;
    font-size: 50px;
    color:white;
    z-index: 99;
  }
  .Product button:hover{
    color:goldenrod;
  }
  .Overlay{
    width: 91%;
    height: 90%;
    background-color: rgba(0, 139, 139, 0.925);
    position: absolute;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
  }
  .al_left:hover .Overlay{
    opacity: 0.8;
  }
  .Overlay .View_photo{
    width: 90%;
    height:15%;
    margin-bottom: 15%;
    display: flex;
  }
  .Train_back_img{
    width: 100%;
    height: 750px;
    background-color: #EAB308;
    background-image: url('../Html/Image/imgfix.jpg');
    background-size:100% ;
    object-fit: cover;
  }
  .Under_v_co{
    width: 100%;
    height: 60px;
    display: flex;
  }
  .Under_v_co .Under_v{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 27.2px;
  }
.Under_v .v_left,.v_mid,.v_right{
    width: 33.33%;
    height: 100%;
}
.Under_v{
    color: white;
    font-size: 17px;
    font-family: 'Hanuman';
}
.add_vi {
    width: 100%;
    height: 40px;
    background-color: black;
  }
  .line{
    width: 100%;
    height: 3px;
    background-color: #E6AB19;
  }
  .complete2{
    width: 100%;
    height: 50px;
    background-color: black;
  }.Gallary{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
  }
  .Gallary .ga_in{
    width: 70%;
    height: 100%;
  
    margin: 0 auto;
    display: flex;
    gap: 25rem;
  }
  .Gallary .ga_in .ga_left ,.ga_right{
    width: 50%;
    height: 100%;
  
    display: flex;
  }
  .ga_left .Course_,.Galla,.Your_acc{
    width: 33.33%;
    height: 100%;
  
  }
  .ga_left p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .ga_right p{
    padding-left: 10px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .icon2 i{
    font-size: 30px;
    color: yellowgreen;
  }
  .com{
    width: 100%;
    height: 15px;
    background-color: black;
  }
  .com_la{
    width: 100%;
    height: 3px;
    background-color: black;
    display: flex;
  
  
  }
  .com_la .la_in{
    width: 50%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
  }
  .com_last2{
    width: 100%;
    height: 30px;
    background-color: black;
  }
  .last{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
  }
  .last .last_in{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
  
  }
  .last_in p{
    color: white;
    font-size:20px ;
    font-family: Arial, Helvetica, sans-serif;
  }
  .last_in .last_in_left{
    width: 33.33%;
    height: 100%;
  
  }
  .last_in .last_in_mid{
    width: 33.33%;
    height: 100%;
  
    display: flex;
  }
  .last_in .last_in_right{
    width: 33.33%;
    height: 100%;
  
  }
  .icon_last{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 100px;
    font-size: 25px;
    color: white;
  }
