@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
  }
.B_Container{
 width: 100%;
 height: 150px;
 background-color: black; 
 display: flex;
}
.B_in{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.B_left ,.B_right{
  width: 45%;
  height: 100%;

}
.B_up, .B_down{
  width: 100%;
  height: 50%;

}
.B_mid{
  width: 10%;
  height: 100%;
  padding-top: 5px;
}
.B_left p{
  font-size: 20px;
  color: white;
}
.B_up p{
  display: flex;
  padding-top: 40px;
}
.B_up P{
  font-family: Arial, Helvetica, sans-serif;
}

.B_mid .For_logo{
  width: 100%;
  height: 100%;


}
.For_logo img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.Bright, .right_search{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.right_search .right_s_right{
  width: 40%;
  height: 100%;

  border-bottom: 2px solid white;
}
.s_and_s input{
  font-size:17px;
  border: none;
  background-color: black;
  color: white;
}
.s_and_s{
  padding-top: 50px;
}
.s_and_s i{
  color: white;
}
 .right_follow{
  width: 100%;
  height: 50%;
  display: flex;
}
.right_follow .right_f_left{
  width: 60%;
  height: 100%;
}
.right_follow .right_follow_right{
  width: 40%;
  height: 100%;
  display: flex;
  gap: 20px;
  padding-top: 5px;
}
.right_follow_right p{
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.right_follow_right .My_icon{
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.right_follow_right .My_icon a{
  color: white;
}
.com{
    width: 100%;
    height: 10px;
    background-color: black;
  }
.bit_container{
    width: 100%;
    height: 40px;
    background-color:black;
  }
  .bit_container .s_container{
    width: 70%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    background-color: blue;
  }
  .s_container .s_boxleft{
    width: 70%;
    height: 40px;
    background-color:black;
  }
  .s_container .s_boxright{
    width: 30%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  .s_boxleft ul{
    display: flex;
    gap: 15px;
    list-style-type:none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  ul a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: yellow;
  }
  .manu2 a{
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
  }
  .icon22 i{
    color: white;
  }
  .Addd{
    width: 100%;
    height: 25px;
    background-color: black;
  }
  .Free_Container{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
  }
  .Free_Container .Free_in{
    width: 70%;
    height: 100%;
  
    margin:0 auto;
    display: flex;
  }
  .Free_in .in_3{
    width: 70%;
    height: 100%;
   
    margin: 0 auto;
    display: flex;
  }
  .in_3 .Free_left{
    width: 25%;
    height: 100%;
  
  }
  .in_3 .Free_mid{
    width: 50%;
    height: 100%;
  
  }
  .in_3 .Free_right{
    width: 25%;
    height: 100%;
  
  }
  .Free_left .Free_left_up{
    width: 100%;
    height: 50%;
  
    border-bottom: 3px solid goldenrod;
  }
  .Free_mid .Free_mid_up{
    width: 100%;
    height: 50%;
  
    display: flex;
  }
  .Free_mid .Free_mid_up p{
    margin: 0 auto;
    color: #EAB308;
    font-size: 31px;
    font-family: 'Hanuman', serif;
    padding-top: 19px;
  }
  .Free_right .Free_right_up{
    width: 100%;
    height: 50%;
  
    border-bottom: 3px solid goldenrod;
  }
  .sign_up_con{
    height: 540px;
    width: 100%;
    background-color: #EAB308;
    display: flex;
  }
  .sign_up_con .sign_up{
    width: 40%;
    height: 100%;
    background-color: brown;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    border-radius: 30px;
  }
  .sign_up .left_pic{
    width: 50%;
    height: 100%;
    background-color: blue;
    display: flex;
    position: relative;
  }
  .sign_up .signup_right{
    width: 50%;
    height: 100%;
    background-color: white;
  }
  .left_pic .pic{
    width: 100%;
    height: 100%;
  }
  .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .left_pic .Welcom{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.199);
    position: absolute;
  }
  .Welcom .welcom_p{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 50%;
}
.welcom_p p{
    color: white;
    font-family:'Hanuman';
    font-size: 30px;
}
.Welcom .Enter_p,.jour{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}
.Enter_p p{
    color: white;
    font-family: 'Hanuman';
    font-family: 25px;
}
.Welcom .jour p{
    color: white;
    font-family: 'Hanuman';
    font-family: 25px;
}
.Welcom .sign_up_btn_con{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.sign_up_btn_con .up_btn_in{
    width: 30%;
    height: 40%;
    margin: 0 auto;
}
.up_btn_in button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-family: 'Hanuman';
    background-color: transparent;
}
.up_btn_in button:hover{
    background-color: white;
    color: black;
}
.signup_right .sign_up_txt{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign_up_txt p{
    color: black;
    font-family: 'Hanuman';
    font-size: 30px;

}
.Email_con{
    width: 100%;
    height: 45px;
}
.space_con{
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.Email_con .Email{
    width: 80%;
    height: 100%;
    background-color: rgb(240, 216, 216);
    margin: 0 auto;
    border: 2px solid rgb(189, 173, 173);
    padding: 0px 0px 0px 20px;
    border-radius: 5px;
}
.Email input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(240, 216, 216);
    outline: none; 
    font-size: 18px;
}
.space_con{
    width: 100%;
    height: 10px;
    margin-top: 10px;
}