@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
}
html{
    scroll-behavior: smooth;
  }
  .nav-bar-con{
    width: 100%;
    height: 160px;
    background-color: #000;
    align-items: center;
    display: flex;
  }
  .nav-bar{
    width: 70%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .Nav_con{
    display: none;
  }
  .Nav_con .Nav_bar_icon{
    display: flex;
    margin-top: 50px;
  }
  .Nav_con .Nav_bar_icon i{
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
  }
  
  .Nav_con .Nav_bar_icon button{
    background-color: black   ;
    border: none;
  }
  .Acc_con .Acc_icon{
    display: flex;
    margin-top:50px;
    /* display: none; */
  }
  .Acc_con .Acc_icon i{
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
  }
  .Acc_con{
    display: none;
  }
  .Acc_con .Acc_icon button{
    background-color: black   ;
    border: none;
  }
  .Cus_new_con{
    width: 100%;
    height: 25px;
    background-color: black;
    display: none;
  }
  .Cus_new_con .Cus_new{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .Cus_new i{
    color: goldenrod;
  }
  .Cus_new p{
    color: white;
  }
  .menu-responsive{
    width: 80%;
    height: 100%;
    display: unset;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #1c1b1b;
    z-index: 999999999999;
    color:white;
    transition: 0.3s ease-in-out;
    overflow-y: auto;
  }
  .menu-responsive .menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .menu-header .right-logo{
    width: 10%;
  }
  .menu-header .right-logo img{
    height: 80px;
    width: 100%;
    height: auto;
  }
  .menu-header .close-manu{
    position: absolute;
    top: 8px;
    right: 12px;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .close-manu i{
    font-size: 25px;
    font-weight: 900;
  }
  .menu-responsive .search-content{
    width: 100%;
  }
  .search-content form{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid white;
  }
  .menu-responsive .search-content form input {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
    background: none;
    color: #fff;
    padding-left: 1rem;
  }
  .menu-responsive .search-content form button {
    text-transform: unset;
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: unset;
  }
  .btn i{
    font-size: 20px;
  }
  .menu-responsive .menu-content{
    padding: 8px 15px;
    color: #231f20;
  }
  .pd-4{
    padding-bottom: 1rem;
  }
  .gap-2{
    gap: 0.5rem;
  }
  .grid-flow-row{
    grid-auto-flow: row;
  }
  .grid{
    display: grid;
  }
  .manu-item{
    border-bottom: 1px solid rgba(240, 241, 243, 0.2117647059);
    padding: 10px 0;
    border-bottom-style: dashed;
    color: #fff;
  }
  
  .menu-content .manu-item.active a{
    color: goldenrod!important;
  }
  .manu-item{
    font-size: 18px!important;
  }
  .manu-item a{
    color: inherit;
    text-decoration: none;
  }
  
  
  .menu-responsive-cover {
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      z-index: 999;
      background: rgba(0, 0, 0, 0.44) !important;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
  }









  .nav-bar .cus,.search{
    width: 17%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
  }
  .nav-bar .pic{
    width: 10%;
    height: 100%;
  }
  .pic .d-pic{
    width: 100%;
    height: 100%;
  }
  .d-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 10px;
  }
  .cus .colum{
    width: 100%;
    height: 55px;
  }
  .colum .cust,.tell{
    width: 100%;
    height: 50%;
  }
  .cust .cust-p{
    width: 100%;
    height: 100%;
  }
  .tell .tell-p{
    width: 100%;
    height: 100%;
  }
  .tell{
    align-items: end;
    display: flex;
  }
  .colum p{
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    color: white;
    font-size: 17px;
  }
  .search .ser-con{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
  }
  .ser-con .ser-here,.follow{
    width: 100%;
    height: 50%;
  }
  .ser-here{
    display: flex;
    justify-content:space-between;
  }
  .ser-here .input{
    width: 90%;
    height: 100%;
    background-color: brown;
  }
  .ser-here .icon-ser{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .input input {
    border-style: none none solid;
      background-color: #000 !important;
      padding: 5px 0;
      transition: 0.3s;
      font-size: 14px;
      width: 100%;
      box-shadow: none;
      outline: none;
      color: white;
      font-family: "Roboto", sans-serif, "Hanuman", serif;
  }
  .icon-ser i{
    font-size: 17px;
    color: white;
  }
  .follow {
    border-top: 1px solid white;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .follow span{
    color: white;
    font-size: 17px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
  
  }
  .follow i{
    color: white;
    font-size: 16px;
  }
  .bit_container{
    width: 100%;
    height: 50px;
    background-color:black;
    position: sticky;
    top:0;
    z-index: 999;
  
  }
  .bit_container .s_container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .s_container .s_boxleft{
    width: 70%;
    height: 40px;
    background-color:black;
  }
  .s_container .s_boxright{
    width: 30%;
    height: 20px;
    background-color: black;
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  .manu .cu a{
    color: #EAB308;
  }
  .s_boxleft ul{
    display: flex;
    gap: 15px;
    list-style-type:none;
    font-size: 14px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    margin-top: 12px;
  
  }
  .s_boxleft li{
  }
  ul a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: yellow;
  }
  .manu2 a{
    color: darkcyan;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    font-size: 14px;
  }
  .icon22 i{
    color: white;
    font-size: 15px;
  }
  .com{
    width: 100%;
    height: 10px;
    background-color: black;
  }
  .manu .Ab a {
    color: #EAB308;
  }
  .Last_pic{
    width: 100%;
    height: 640px;
    background-color: #EAB308;
  }
  .Last_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .Over_view_con{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
  }
  .bb{
    width:100%;
    height: 20px;
  }
  .Over_view_con .Over_view{
    width: 70%;
    height: auto;
    background-color: #2b2424;
    margin: 0 auto ;
    display: flex;
  }
  .over_con{
    width: 100%;
    height: auto;
    background-color: red;
  }
  .Over_view_left .view_text{
    width: 100%;
    height: 250px;
    background-color: #2b2424;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .text_in{
    width: 80%;
    height: 90%;
    background-color:#2b2424;
  }
  .text_in .text_class{
    width: 100%;
<<<<<<< HEAD
    height: auto;
=======
    height: 100%;
>>>>>>> 024901a0d0b1f099f179b26c511df7fd14df3a22
    overflow: hidden;
  }
  .text_class p{
    color: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
    overflow: hidden;
  }
  .Over_view .Over_view_left{
    width: 70%;
    height: 100%;
    background-color: #2b2424;
  }
  .con-bor{
    width: 100%;
    height: 70px;
    background-color: #2b2424;
  }
  .con-bor .Border-wraper{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: bolder;
      justify-content: center;
  }
  .Border-wraper h3{
    margin-left: 15px;
    margin-right: 15px;
    color: goldenrod;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
  }
   .Border-wraper .Border{
    border-bottom: 3px solid goldenrod;
    width: 150px;
    margin-top: 15px;
    border-width: 1px;
  }

.mm{
  width:100%;
  height: 50px;
  background-color: black;
}
  .con-bor2{
    width: 100%;
    height: 70px;
    background-color: black;
  }
  .con-bor2 .Border-wraper2{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: bolder;
      justify-content: center;
  }
  .Border-wraper2 h3{
    margin-left: 15px;
    margin-right: 15px;
    color: goldenrod;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    font-family: "Roboto", sans-serif, "Hanuman", serif;
  }
   .Border-wraper2 .Border2{
    border-bottom: 3px solid goldenrod;
    width: 150px;
    margin-top: 15px;
    border-width: 1px;
  }
  .Over_view .Over_view_pic{
    width: 40%;
    height: 100%;
    background-color: #2b2424;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .Over_view_pic .view_pic{
    width: 80%;
    height: 80%;
    background-color: #2b2424;
  }
  .view_pic .img{
    width: 100%;
    height: 100%;
  }
  .view_pic .img img{
    width: 100%;
    height: 100%;
    border: 4px solid goldenrod;
    object-fit: cover;
  }
  .Over_view_left .Over_view_top_con{
    width: 100%;
    height: 30%;
    background-color: #2b2424;
    display: flex;
  }
  .Over_view_top_con .view_top{
    width: 70%;
    height: 100%;
    margin: 0  auto;
    display: flex;
  }
  .view_top .view_in{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
  }
  .view_in .in_left,.in_mid,.in_right{
    width: 33.33%;
    height: 100%;
  }
  .in_mid{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .in_mid p{
    color: #EAB308;
    font-size: 27px;
  }
  .in_left .left_up{
    width: 100%;
    height: 60%;
    border-bottom: 3px solid goldenrod;
}
.in_right .right_up{
    width: 100%;
    height: 60%;
    border-bottom: 3px solid goldenrod;
}
.loca_co{
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
}
.loca_co .loco_text{
  width: 70%;
  height: 100%;
  background-color: black;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  align-items: end;
}
.loco_text p{
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.loco_text i{
  color: goldenrod;
  font-size: 16px;
}
.tell_con{
  width: 100%;
  height: 35px;
  background-color: black;
  display: flex;
}
.tell_con .tell_and_text{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.tell_and_text .tell_left{
  width: 50%;
  height: 100%;
  background-color: black;
}
.tell_left{
  display: flex;
  gap: 8px;
  align-items: center;
}
.tell_left i{
  color:goldenrod;
  font-size: 16px;
}
.tell_left p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}
.text_rightt{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}
.mon_{
  display:flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.gg{
  width: 50px;
  height: 80px;
  background-color: red;
}
.text_rightt h2{
  color: white;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.Map_and_text_container{
  width: 100%;
  height: 400px;
  display: flex;
  background-color: black;

}
.Map_and_text_container .Map_and_txt{
  width: 70%;
  height: 100%;
  background-color: black;
  margin: 0 auto;
  display: flex;
  gap: 70px;
}
.Map_and_txt .Map_left{
  width: 50%;
  height: 100%;
  background-color: black;
  display: flex;
}
.txt_right{
  display: flex;
  flex-direction: column;
  height: auto;
}
.Map_left .Map{
  width: 100%;
  height: 100%;
}
.Map iframe{
  width: 100%;
  height: 100%;
}
.txt_right .txt_left{
  width: 33.33%;
  height: 100%;
}
.txt_mid{
  width: 20%;
}
.txt_right{
  width: 46.67%;
}
.txt_left .Mon,.Tue,.Wed,.Thu,.Fri,.sat,.sun{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.txt_left .Mon,.Tue,.Wed,.Thu,.Fri,.sat,.sun p{
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.txt_right_right .Day1,.Day2,.Day3,.Day4,.Day5,.Day6,.Day7{
  width: 100%;
  height: 40.2px;
  display: flex;align-items: center;
}
.txt_right_right .Day1,.Day2,.Day3,.Day4,.Day5,.Day6,.Day7 p{
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}
.M_and_V_con{
  width: 100%;
  height: 190px;
  background-color: black;
  display: flex;
}
.M_and_V_con .M_and_V{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.M_and_V .Misson,.Visson{
  width: 50%;
  height: 100%;
}
.Misson{
  border-right: 1px solid white;
}
.Visson{
  border-left: 1px solid white;
}
.Misson .M_up{
  width: 100%;
  height: 50%;
  display: flex;
}
.M_up_70{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.M_up_70 .M_left,.M_mid,.M_right{
  width: 33.33%;
  height: 100%;
}
.M_mid{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Misson_text p{
  color: goldenrod;
  font-size: 32px;
  font-family:'Hanuman';
}
.M_left .M_left_up{
  width: 100%;
  height: 60%;
  border-bottom: 2px solid goldenrod;
}
.M_right .M_right_up{
  width: 100%;
  height: 60%;
  border-bottom: 2px solid goldenrod;
}
.Misson .M_down{
  width: 100%;
  height: 50%;
}
/* hiiii */
.Visson .M_up{
  width: 100%;
  height: 50%;
  display: flex;
}
.M_up_70{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.M_up_70 .M_left,.M_mid,.M_right{
  width: 33.33%;
  height: 100%;
}
.M_mid{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Misson_text p{
  color: goldenrod;
  font-size: 32px;
  font-family:'Hanuman';
}
.M_left .M_left_up{
  width: 100%;
  height: 60%;
  border-bottom: 2px solid goldenrod;
}
.M_right .M_right_up{
  width: 100%;
  height: 60%;
  border-bottom: 2px solid goldenrod;
}
.Visson .M_down{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.M_down .Text_vission{
  color: white;
  font-size: 15px;
  padding-left: 2rem;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  text-align: center;
}
.M_down .Text_mission .Text1,.Text2,.Text3{
  display: flex;
  justify-content: center;
  text-align: center;
}
.M_down .Text_mission .Text1,.Text2,.Text3 p{
  color: white;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  font-size: 14.7px;
}
.Text_mission {
  padding-right: 2rem;
}
.add_b{
  width: 100%;
  height: 30px;
  background-color: black;
}
.Loca_pic_con{
  width: 100%;
  height: 300px;
  background-color: black;
  display: flex;
}
.Loca_pic_con .loca_pic{
  width: 70%;
  height: 96%;
  background-color: black;
  margin: 0 auto;
  display: flex;
  gap: 25px;
}
.loca_pic .loca_left,.loca_pic_mid,.loca_pic_right{
  width: 33.33%;
  height: 100%;
  background-color: blue;
}
.loca_pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Year_3_con{
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
}
.Year_3_con .Year_3{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  gap: 25px;
}
.Year_3 .Year_3_left,.Year_3_mid,.Year_3_right{
  width: 33.33%;
  height: 100%;
  display: flex;
}
.Year_3_left .Year{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
.Year_3_mid .Year{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
.Year_3_right .Year{
  width: 20%;
  height: 100%;
  display: flex;

  align-items: center;
}
.right_line{
  width: 80%;
  height: 100%;
}
.right_line .right_line_up{
  width: 100%;
  height: 50%;
  border-bottom:2px solid #EAB308 ;
}
.Year p{
 color: #EAB308;
 font-family:'Hanuman';
 font-size: 30px;
 font-weight: 20px;
}
.txt_under_con{
  width: 100%;
  height: 140px;
  background-color: black;
  display: flex
}
.txt_under_con .txt_under{
  width: 70%;
  height: 100%;
  margin:  0 auto;
  display: flex;
  gap: 25px;
}
.txt_under .txt_under_l,.txt_under_m,.txt_under_r{
  width: 33.33%;
  height: 100%;
}
.txt_under .txt_lt{
  width: 100%;
  height: 100%;
}
.txt_lt p{
  color: white;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  font-size: 17px;
  height: auto;
}
.Pic6_con{
  width: 100%;
  background-color: black;
  height: auto;
}
.Pic6_con .Pic6{
  width: 70%;
  height: auto;
  margin: 0 auto;
  background-color: black;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px ;

}
.about_box .about_box_image{
  width: 100%;
  height: 300px;
  background-color: #2b2424;
}
.about_box_image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about_txt{
  position: relative;
  margin-top: 10px;
}
.about_txt .flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1.25rem;
}
.about_txt .single-line{
  width: 150px;
  height: 2px;
  background-color: #e6ab19;
  flex: auto;
  margin-left: 1.5rem;
}
.flex .num h3{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: goldenrod;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
}
.white_long p{
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif, "Hanuman", serif;

}
.pp{
  width: 100%;
  height: 30px;
  background-color: black;
}






















.line{
  width: 100%;
  height: 3px;
  background-color: #E6AB19;
}
.Last_manu{
  width: 70%;
  height: 170px  ;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.Last_manu .Manu_ri{
  width: 330px;
  background-color: black;
  margin-top: 30px;
}
.Last_manu .Manu_le{
  width: 400px;
  margin-top: 30px;
}
.Manu_le{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  align-items: center;
}
.Manu_le .Co{
  width: 100%;
  height: 60px;
  background-color: black;
}
.Co a{
  text-decoration: none;
  color:white;
}
.Co a:hover{
  color: goldenrod;
}
.Manu_ri .Map,.Phone,.Mail{
  width: 100%;
  height: 33.33%;
  display: flex;
  gap: 10px;
}
.Manu_ri .Map,.Phone,.Mail p{
  color: white;
}
.Manu_ri .Map i{
  color: goldenrod;
  font-size: 20px;
}
.Manu_ri .Phone i{
  color: goldenrod;
  font-size: 20px;
}
.Manu_ri .Mail i{
  color: goldenrod;
  font-size: 20px;
}
.Last_foo{
  background-color: black;
  width: 100%;
  height: auto;
}
.com{
  width: 100%;
  height: 15px;
  background-color: black;
}
.com_la{
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
}
.com_la .la_in{
  width: 50%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.com_last2{
  width: 100%;
  height: 30px;
  background-color: black;
}
.last_con{
  width: 100%;
  height: 70px;
  background-color: black;
}
.last{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.last .txl,.txr{
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif, "Hanuman", serif;
  color: white;
  font-size: 16px;
}
.last .txm{
  width: 15%;
  height: 25px;
}
.txm .class_i{
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
}
.class_i a{
  padding-top: 5px;
}
.class_i a i{
  color:white;
  font-size: 20px;
  background-color: transparent;
}
.Course_ a{
  text-decoration: none;
}
.Galla a{
  text-decoration: none;
}
.Your_acc a{
  text-decoration: none;
}
.icon_last a{
  color: white;
}
.Course_ a{
  text-decoration: none;
}
.Galla a{
  text-decoration: none;
}
.Your_acc a{
  text-decoration: none;
}
.icon_last a{
  color: white;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #E6AB19;
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  background-color: black;
  border-radius: 10px;
}
.reveal{
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.5s ease;
}
.reveal.active{
  transform: translateX(0px);
  opacity: 1!important;
}
.reveals{
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.5s ease;
}
.reveals.active{
  transform: translateX(-0px);
  opacity: 1!important;
}
.revealu{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.5s ease;
}
.revealu.active{
  transform: translateY(0px);
  opacity: 1!important;
}